@model SAMAirline.Model.Models.LoginViewModel

<!-- Navbar -->
<!-- Full Page Intro -->
<div class="view full-page-intro" style="background-image: url('/Style/img/background4.jpg'); background-repeat: no-repeat; background-size: cover;">
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row wow fadeIn">
                <div class="col-md-6 mb-4 white-text text-center text-md-left">
                    <h1 class="display-4 font-weight-bold">Booking</h1>
                    <hr class="hr-light">
                    <p>
                        <strong>@Resources.Resource.MainTitle</strong>
                    </p>
                    <p class="mb-4 d-none d-md-block">
                        <strong>
                            @Resources.Resource.DescriptionText
                        </strong>
                    </p>
                    <a href="/Account/Registration" class="btn btn-indigo btn-lg">
                        @Resources.Resource.CreateAccount
                        <i class="fas fa-user-plus ml-2"></i>
                    </a>
                </div>
                <div class="col-md-6 col-xl-5 mb-4">
                    <div class="card">
                        <div class="card-body">
                            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { role = "form" }))
                            {
                                @Html.AntiForgeryToken()

                                <h3 class="dark-grey-text text-center">
                                    <strong>@Resources.Resource.Login:</strong>
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                </h3>
                                <hr>
                                <div class="md-form">
                                    <i class="fas fa-user prefix grey-text"></i>
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @style = "max-width: 320px;" } })
                                    <label for="Email">@Resources.Resource.Email</label>
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>

                                <div class="md-form">
                                    <i class="fas fa-key prefix grey-text"></i>
                                    <input type="password" name="Password" id="Password" class="form-control" style="max-width: 320px;">
                                    <label for="Password">@Resources.Resource.Password</label>
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>

                                <div class="text-center">
                                    <button class="btn btn-indigo" type="submit">@Resources.Resource.Login</button>
                                </div>

                                if (Model.Message != null)
                                {
                                    <div class="text-center">
                                        <hr>
                                        <h6 style="color:red;">@Resources.Resource.LogError</h6>
                                    </div>
                                }
                            }
                            <hr>
                            <div class="text-center">
                                <a href="/Account/ForgotPassword">Forgot password?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
